.container {
  text-align: center;
  padding-top: 30px;
}

.dice {
  text-align: center;
  display: inline-block;
}

body{
    background-color: darkslategray;
}


h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
  }


/* MEDIA QUERY */
@media (max-width: 958px ) {

    h1{
        font-size: 4rem;
    }

}

img {
    width: 80%;
  }


p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}


footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
